@font-face {
    font-family: 'Josefin Sans';
    src: url(../FONTS/JosefinSans-VariableFont_wght.ttf);
}
/*Código para o scrollbar*/
::-webkit-scrollbar{
    width: 10px;
    
}
::-webkit-scrollbar-track{
    
    border-radius: px;
    background: #172027;
    
}
::-webkit-scrollbar-thumb{
    background-color: #2e2f4d;
    border-radius: 8px; 
}


body{
    background-image: linear-gradient(to right, #0f1418, #182833, #031627);
    font-family: 'Josefin Sans';
}
header{
    font-size: 20px;
    text-align: center;
    color: #a7bdc8;
}
header hr{
    border: 2px solid;
    color: gray;
}
p{
    color: white;
    font-size: 24px;
    margin: 30px;
}
header mark{
    background-color:   rgba(255, 255, 255, 0.521);
    border-radius: 4px;
    border: 8px solid rgba(255, 255, 255, 0);
    margin: 5px 5px 5px 5px;
}
main mark{
    background-color:   rgba(255, 255, 255, 0.678);
    border-radius: 4px;
}
header a{
    left: 30px;
    top: 24px;
    position: absolute;
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 6px 5px 0px 6px;
    border-radius:  30px;
    border: 3px solid black;
    transition: 0.4s;
}
header a:hover{
    color: black;
    background-color: white;
    border-color: white;
    transition: 0.4s;
}

table{
    text-align: center;
    color: white;
    font-size: 20px;
    width: 50% !important;margin: auto;
    border-collapse: collapse;
}
table tr{
    margin: 5px 5px 5px 5px;
}
h2{
    font-size: 35px;
    color: white;
    text-align: center;
}
#ts{
    font-size: 29px;
    color: white;
    text-align: center;
}


